DEBUG=false

APP_ENV=development
VERSION=dev
BOT_DEFAULT_LANGUAGE=en

TELEGRAM_BOT_TOKEN=
CHANNEL_ID=
SENTRY_DSN=

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=
MONGODB_DATABASE=vrcmemes
